In [1]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!unzip /content/drive/MyDrive/Colab\ Notebooks/Projects/TensorFlow/Todo/Covid19-4/data.zip

Archive:  /content/drive/MyDrive/Colab Notebooks/Projects/TensorFlow/Todo/Covid19-4/data.zip
replace tested_worldwide.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
directory = "/content/drive/MyDrive/Colab Notebooks/Projects/TensorFlow/Todo/Covid19-4"

In [3]:
import os
os.listdir(directory)

['00-main.ipynb', 'data.zip', '.ipynb_checkpoints']

In [4]:
data = pd.read_csv('/content/tested_worldwide.csv')

In [5]:
data.head()

         Date Country_Region  ... daily_tested  daily_positive
0  2020-01-16        Iceland  ...          NaN             NaN
1  2020-01-17        Iceland  ...          NaN             1.0
2  2020-01-18        Iceland  ...          NaN             3.0
3  2020-01-20    South Korea  ...          NaN             NaN
4  2020-01-22  United States  ...          NaN             NaN

[5 rows x 12 columns]

In [6]:
data.isna().sum()

Date                    0
Country_Region          0
Province_State          0
positive             4242
active               9833
hospitalized        19231
hospitalizedCurr    13080
recovered            9626
death                4010
total_tested          912
daily_tested         1174
daily_positive       4557
dtype: int64

In [7]:
data.dtypes

Date                 object
Country_Region       object
Province_State       object
positive            float64
active              float64
hospitalized        float64
hospitalizedCurr    float64
recovered           float64
death               float64
total_tested        float64
daily_tested        float64
daily_positive      float64
dtype: object

In [8]:
len(data)

27641

In [9]:
len(data.dropna())

6330

In [10]:
data.isna().sum()

Date                    0
Country_Region          0
Province_State          0
positive             4242
active               9833
hospitalized        19231
hospitalizedCurr    13080
recovered            9626
death                4010
total_tested          912
daily_tested         1174
daily_positive       4557
dtype: int64

In [11]:
data.tail()

             Date Country_Region  ... daily_tested  daily_positive
27636  2020-11-09      Australia  ...          0.0             NaN
27637  2020-11-09      Australia  ...          0.0             NaN
27638  2020-11-09      Australia  ...          0.0             NaN
27639  2020-11-09      Australia  ...          0.0             NaN
27640  2020-11-09      Australia  ...          0.0             NaN

[5 rows x 12 columns]

In [12]:
data.isna().sum()

Date                    0
Country_Region          0
Province_State          0
positive             4242
active               9833
hospitalized        19231
hospitalizedCurr    13080
recovered            9626
death                4010
total_tested          912
daily_tested         1174
daily_positive       4557
dtype: int64

In [13]:
data.drop(['positive','hospitalized','hospitalizedCurr','total_tested','daily_tested','daily_positive'],axis=1,inplace=True)

In [14]:
data.isna().sum()

Date                 0
Country_Region       0
Province_State       0
active            9833
recovered         9626
death             4010
dtype: int64

In [15]:
data.tail()

             Date Country_Region     Province_State  active  recovered  death
27636  2020-11-09      Australia         Queensland     8.0     1163.0    6.0
27637  2020-11-09      Australia    South Australia    19.0      492.0    4.0
27638  2020-11-09      Australia           Tasmania     0.0      217.0   13.0
27639  2020-11-09      Australia           Victoria     4.0    19522.0  819.0
27640  2020-11-09      Australia  Western Australia    10.0      757.0    9.0

In [16]:
import re

In [17]:
dates = []
for date in data['Date']:
  dates.append(re.sub('-','',date))

In [18]:
dates[:1]

['20200116']

In [19]:
data['Date'] = dates

In [20]:
data.head()

       Date Country_Region Province_State  active  recovered  death
0  20200116        Iceland     All States     NaN        NaN    NaN
1  20200117        Iceland     All States     NaN        NaN    NaN
2  20200118        Iceland     All States     NaN        NaN    NaN
3  20200120    South Korea     All States     NaN        NaN    NaN
4  20200122  United States     All States     NaN        NaN    0.0

In [21]:
data.isna().sum()

Date                 0
Country_Region       0
Province_State       0
active            9833
recovered         9626
death             4010
dtype: int64

In [22]:
len(data.dropna())

17719

In [23]:
len(data)

27641

In [24]:
data.dropna(inplace=True)

In [25]:
X = data.drop(['active','death','recovered'],axis=1)
y = data.drop(['Date','Country_Region','Province_State'],axis=1)

In [26]:
pss = []
for ps in X['Province_State']:
  pss.append(ps)

In [27]:
css = []
for cs in X['Country_Region']:
  css.append(cs)

In [28]:
X

           Date Country_Region     Province_State
162    20200203        Armenia         All States
179    20200204        Armenia         All States
197    20200205        Armenia         All States
215    20200206        Armenia         All States
233    20200207        Armenia         All States
...         ...            ...                ...
27636  20201109      Australia         Queensland
27637  20201109      Australia    South Australia
27638  20201109      Australia           Tasmania
27639  20201109      Australia           Victoria
27640  20201109      Australia  Western Australia

[17719 rows x 3 columns]

In [29]:
y

       active  recovered  death
162       0.0        0.0    0.0
179       0.0        0.0    0.0
197       0.0        0.0    0.0
215       0.0        0.0    0.0
233       0.0        0.0    0.0
...       ...        ...    ...
27636     8.0     1163.0    6.0
27637    19.0      492.0    4.0
27638     0.0      217.0   13.0
27639     4.0    19522.0  819.0
27640    10.0      757.0    9.0

[17719 rows x 3 columns]

In [30]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler

In [31]:
X_old = X
y_old = y
from sklearn.model_selection import train_test_split

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
X_train_old = X_train
X_test_old = X_test

In [33]:
y = data.drop(['Date','Country_Region','Province_State'],axis=1)

In [34]:
ct = make_column_transformer(
    (OneHotEncoder(),['Country_Region','Province_State']),
    (MinMaxScaler(),['Date'])
)
ct.fit(X)
X_train = ct.transform(X_train)
X_train = X_train.toarray()
X_test = ct.transform(X_test)
X_test = X_test.toarray()

In [35]:
X_train

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.90949227],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.66225166],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.88741722],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.24834437],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.35761589],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.33222958]])

In [36]:
X_test

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.68543046],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.66777042],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.79580574],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.5794702 ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.4580574 ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.2218543 ]])

In [37]:
len(X_test)

4430

In [38]:
len(X_train)

13289

### Modelling

In [39]:
!pip3 install wandb

Requirement already satisfied: wandb in /usr/local/lib/python3.7/dist-packages (0.10.23)
Requirement already satisfied: configparser>=3.8.1 in /usr/local/lib/python3.7/dist-packages (from wandb) (5.0.2)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (3.12.4)
Requirement already satisfied: psutil>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (5.4.8)
Requirement already satisfied: pathtools in /usr/local/lib/python3.7/dist-packages (from wandb) (0.1.2)
Requirement already satisfied: promise<3,>=2.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (2.3)
Requirement already satisfied: subprocess32>=3.5.3 in /usr/local/lib/python3.7/dist-packages (from wandb) (3.5.4)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from wandb) (3.13)
Requirement already satisfied: requests<3,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (2.23.0)
Requirement already satisfied: docker-pycreds>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (0.4.0)
Requirement already satisfied: sentry-sdk>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (1.0.0)
Requirement already satisfied: GitPython>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (3.1.14)
Requirement already satisfied: six>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (1.15.0)
Requirement already satisfied: shortuuid>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (1.0.1)
Requirement already satisfied: Click>=7.0 in /usr/local/lib/python3.7/dist-packages (from wandb) (7.1.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from wandb) (2.8.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.12.0->wandb) (54.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->wandb) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->wandb) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->wandb) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->wandb) (2.10)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from GitPython>=1.0.0->wandb) (4.0.5)
Requirement already satisfied: smmap<4,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->GitPython>=1.0.0->wandb) (3.0.5)

In [40]:
import wandb
from wandb.keras import *

In [41]:
# # Baseline
# from tensorflow.keras.callbacks import EarlyStopping
# wandb.init(project='covid19-0',name='baseline')
# model_base_line = tf.keras.Sequential()
# model_base_line.add(tf.keras.layers.Dense(1))
# model_base_line.compile(loss=tf.keras.losses.mae,optimizer=tf.keras.optimizers.Adam(),metrics=['mse'])
# model_base_line.fit(X_train,y_train,epochs=100,callbacks=[WandbCallback()])

In [42]:
y = data.drop(['Date','Country_Region','Province_State'],axis=1)

In [43]:
X_train

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.90949227],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.66225166],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.88741722],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.24834437],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.35761589],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.33222958]])

In [44]:
X_train.shape

(13289, 95)

In [45]:
y_train.shape

(13289, 3)

In [46]:
class Experiment:
  def experiment(self,lr:int,project_name:str,name:str,number_of_layers:int,number_of_neurons_per_layer:int,activations:list,loss,optimizer,metrics:list,epochs:int):
    wandb.init(project=project_name,name=name)
    print('-')
    if number_of_layers != len(activations):
      new_activations = []
      for _ in range(number_of_layers):
        print(_)
        new_activations.append(activations[0])
      activations = new_activations
    print('-')
    model = tf.keras.Sequential()
    print('-')
    for activation in activations:
      model.add(tf.keras.layers.Dense(number_of_neurons_per_layer,activation=activation))
    print('-')
    # model.add(tf.keras.layers.Dense(len(y),activation=None))
    print('-')
    model.compile(loss=loss,optimizer=optimizer(lr=lr),metrics=metrics)
    print('-')
    model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=epochs,callbacks=[WandbCallback()])
    return model
  def experiment_with_early_stop(self,lr:int,project_name:str,name:str,number_of_layers:int,number_of_neurons_per_layer:int,activations:list,loss,optimizer,metrics:list,epochs:int):
    wandb.init(project=project_name,name=name)
    print('-')
    if number_of_layers != len(activations):
      new_activations = []
      for _ in range(number_of_layers):
        print(_)
        new_activations.append(activations[0])
      activations = new_activations
    print('-')
    model = tf.keras.Sequential()
    print('-')
    for activation in activations:
      model.add(tf.keras.layers.Dense(number_of_neurons_per_layer,activation=activation))
    print('-')
    # model.add(tf.keras.layers.Dense(len(y),activation=None))
    print('-')
    model.compile(loss=loss,optimizer=optimizer(lr=lr),metrics=metrics)
    print('-')
    model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=epochs,callbacks=[WandbCallback(),EarlyStopping(patience=10)])
    return model

In [47]:
E = Experiment()
# E.experiment(lr=0.001,project_name='covid19-0',name='test',number_of_layers=1,number_of_neurons_per_layer=1,activations=[None],loss='mae',optimizer=tf.keras.optimizers.Adam,metrics=['mse'],epochs=100)

In [48]:
# Layers = 1,2,3,4,5,10,15,20,25,50
# Epochs = 25,50,75,100,125,250,500
# learning rate = 1.0,0.1,0.01,0.001
# total neurons = 12500,25000,50000,75000,100000
# activation type = linear Swish ReLU Tanh selu elu

In [49]:
# epochs = [25,50,75,100,125,250,500]
# for epoch in epochs:
#   E.experiment(lr=0.001,
#                project_name='covid19-0',
#                name=f'0-{epoch}-epoch-test',
#                number_of_layers=1,
#                number_of_neurons_per_layer=1,
#                activations=[None],
#                loss=tf.keras.losses.mae,
#                optimizer=tf.optimizers.Adam,
#                metrics=['mse'],
#                epochs=epoch)
#   print(epoch)
# print('Done')

In [50]:
# layers = [1,2,3,4,5,10,15,20,25,50]
# for layer in layers:
#   E.experiment(lr=0.001,project_name='covid19-0',name=f'0-{layer}-layer-test',number_of_layers=layer,number_of_neurons_per_layer=1,activations=[None],loss=tf.keras.losses.mae,optimizer=tf.optimizers.Adam,metrics=['mse'],epochs=100)
#   print(layer)
# print('Done')

In [51]:
# lrs = [1.0,0.1,0.01,0.001]
# for lr in lrs:
#   E.experiment(lr=lr,project_name='covid19-0',name=f'0-{lr}-lr-test',number_of_layers=1,number_of_neurons_per_layer=1,activations=[None],loss=tf.keras.losses.mae,optimizer=tf.optimizers.Adam,metrics=['mse'],epochs=100)
#   print(lr)
# print('Done')

In [52]:
# neurons = [12500,25000,50000,75000,100000]
# for neuron in neurons:
#   E.experiment(lr=0.001,project_name='covid19-0',name=f'1-{neuron}-neuron-test',number_of_layers=1,number_of_neurons_per_layer=1,activations=[None],loss=tf.keras.losses.mae,optimizer=tf.optimizers.Adam,metrics=['mse'],epochs=100)
#   print(neuron)
# print('Done')

In [53]:
# activation_types = 'linear swish relu tanh selu elu'
# activation_types = activation_types.split()
# for activation_type in activation_types:
#   E.experiment(lr=lr,project_name='covid19-0',name=f'0-{activation_type}-at-test',number_of_layers=1,number_of_neurons_per_layer=1,activations=[activation_type],loss=tf.keras.losses.mae,optimizer=tf.optimizers.Adam,metrics=['mse'],epochs=100)
#   print(activation_type)
# print('Done')

In [54]:
# Results
# Layers = 5 50
# Epochs = 100 125 150 175 200
# learning rate = 1.0 0.1
# neurons per layer = 75000
# activation type = selu (linear Swish ReLU Tanh selu elu)

In [55]:
# epochs = [100,125,150,175,200]
# for epoch in epochs:
#   E.experiment(lr=0.001,
#                project_name='covid19-0',
#                name=f'2.5-{epoch}-epoch-test',
#                number_of_layers=1,
#                number_of_neurons_per_layer=1,
#                activations=[None],
#                loss=tf.keras.losses.mae,
#                optimizer=tf.optimizers.Adam,
#                metrics=['mse'],
#                epochs=epoch)
#   print(epoch)
# print('Done')

In [56]:
# layers = [5,50]
# for layer in layers:
#   E.experiment(lr=0.001,project_name='covid19-0',name=f'2.5-{layer}-layer-test',number_of_layers=layer,number_of_neurons_per_layer=1,activations=[None],loss=tf.keras.losses.mae,optimizer=tf.optimizers.Adam,metrics=['mse'],epochs=100)
#   print(layer)
# print('Done')

In [57]:
# lrs = [1.0,0.1]
# for lr in lrs:
#   E.experiment(lr=lr,project_name='covid19-0',name=f'2.5-{lr}-lr-test',number_of_layers=1,number_of_neurons_per_layer=1,activations=[None],loss=tf.keras.losses.mae,optimizer=tf.optimizers.Adam,metrics=['mse'],epochs=100)
#   print(lr)
# print('Done')

In [58]:
# Results
# Layers = 5
# Epochs = 175
# learning rate = 1.0
# neurons per layer = 75000
# activation type = selu (linear Swish ReLU Tanh selu elu)

In [ ]:
E = Experiment()
model = E.experiment(lr=1.0,project_name='covid19-0',name='Big-Dog-Model-1',number_of_layers=5,number_of_neurons_per_layer=62500,activations=['selu'],loss=tf.keras.losses.mae,optimizer=tf.keras.optimizers.Adam,metrics=['mse'],epochs=150)
model.save(directory + '/model_1.pkl')

wandb: Currently logged in as: ranuga-d (use `wandb login --relogin` to force relogin)

-
0
1
2
3
4
-
-
-
-
-
Epoch 1/150